body{
    background-color: rgb(159, 218, 255);
}

h1{
    color: black;
    text-align:center;
    font-weight: bold;
}
#top{
    color: greenyellow;

}
h2{
    color:navy;
    text-align: center;
    text-decoration: underline;
}
p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: darkred;
    font-family: 'Courier New', Courier, monospace;
}