body{
    background-color:rgb(0,33,69);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.header-box{
    background-color:rgb(255,255,255);
    color: #C8032B;
    text-align: center;
    top:0px;
    margin: 2em 8em;
    min-height: 3em;
    z-index: 1;
    font-weight: bolder;
    padding: 0.5em;


}
.links a{
    text-decoration:underline;
    text-align: center;
    color: rgb(0,33,69);
    font-weight: bold;
}
.common{
    background-color:rgb(176,183,188) ;
    margin: 2em;
    padding: 2em;
}

/* a:visited{
    color: rgb(176, 183, 188);
} */
.image{
    text-align: center;
}
.tableauPlaceholder{
    margin: auto;
}
.video iframe{
    display: block;
    margin: auto;
}

.top{
    text-align: center;
    background-color: rgb(255,255,255);
    color: #C8032B;

}
