body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: aqua;
    text-align:center;
    font-weight: bold;
}
#top{
    color: greenyellow;

}
h2{
    color: rgb(255, 0, 0);
    text-align: right;
    font-style: italic;
    text-decoration: underline;
}
.common{
    background-color: gray;
    border: 2px solid white;
    position:absolute;
}
.main{
    top: 115px;
    left: 130px;
    right: 140px;
    height: fit-content;
}
.header{
    top:5px;
    left:15px;
    right:25px;
    height:100px;
    z-index: 1;
}
.left{
    top:115px;
    left:15px;
    right:10px;
    bottom: 40px;
    height:fit-content;
    
}
.right{
    top: 115px;
    right: 25px;
    width: 100px;
    bottom: 40px;
    height:fit-content;
}
.footer{
    bottom:5px;
    left:15px;
    right:25px;
    height:100px;
    position:fixed;
    z-index: 1;
}